.side-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    box-shadow: 5px 0 15px var(--shadow-color);
    position: sticky;
    top: 0;
    background-color: var(--main-white);
}

.side-bar button {
    padding: 0.6rem 2.6rem;   
}