.main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

h1 {
    user-select: none;
}

h1, h2 {
    font-weight: 600;
}

h2 {
    font-size: 2.4rem;
}

.main-info p {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: 0.8;
}

.main-info h1 {
    font-size: 7.2rem;
}

.main-info h1::before {
    content: "id";
    color: var(--main-blue);
}

.main-info {
    justify-content: space-between;
    min-height: 500px;
    padding-right: 4.8rem;
    border-right: 3px solid var(--secondary-blue);
}

.login-container {
    background-color: var(--main-white);
    width: 75%;
    margin: auto; 
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--shadow-color);
    padding: 4rem 8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
