
.edit-wrapper {
    font-size: 1.2rem;
}

.edit-wrapper h3, 
strong {
    font-weight: 600;
}

.page-container h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    line-height: 2.6rem;
}

.page-container h3::after {
    content: "";
    display: block;
    background-image: linear-gradient(90deg, var(--secondary-blue), var(--main-white));
    min-height: 3px;
    width: 100%;
}

.upper-edit-section {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 1.2rem 0;
}

.lower-edit-section {
    margin: 1.2rem 0;
}

.contact-info {
    display: grid;
    grid-gap: 0.4rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.action-buttons {
    display: flex;
    margin: 1.2rem 0;
    justify-content: center;
}

.password-info {
    margin: 1.2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.4rem;
    max-width: 50%;
}


.action-buttons button:first-child {
    max-width: 140px;
    text-align: left;
    padding: 0.8rem 1.6rem;
    margin-right: 0.4rem;
}

p.alert {
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    user-select: none;
    color: var(--default-red);
}




