.nav-link {
    text-decoration: none;
    transition: color 0.2s; 
    cursor: pointer;
    outline: none;

}

.nav-link::after {
    content: "";
    min-height: 3px;
    background-image: linear-gradient(90deg, var(--main-blue), var(--main-white));
    display: block;
    width: 0;
    transition: width 0.4s;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-link:hover {
    color: var(--main-blue);
}
