.input-style {
    outline: none;
    border: none;
    background-color: var(--secondary-blue);
    padding: 0.8rem ;
    width: 100%;
    border-radius: 8px;
}

.input-style {
    color: var(--text-color);
}

.input-style::placeholder {
    color: var(--text-color);
    font-weight: 300;
    opacity: .5;
    text-decoration: italic;
}

label {
    display: block;
    font-weight: 600;
    font-style: italic;
    text-align: left;
    align-self: flex-start;
    opacity: .8;
    font-size: 0.9rem;
}