.profile-card {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    background-image: linear-gradient(var(--secondary-blue) 25%, var(--main-white) 98%);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 240px;
}

.element-info {
    text-align: center;
    margin-bottom: 0.7rem;
}

.element-info p {
    margin-bottom: 0.7rem;
    font-size: 1.4rem;
    font-weight: bold;
}

.profile-card button {
    margin: 0 auto;
}
