.botao {
    outline: none;
    border: none;
    padding: 0.8rem 2.4rem;
    border-radius: 8px;
    color: var(--main-white);
    transition: 0.4s;
    font-weight: bolder;
    cursor: pointer;
}

.red {
    background-color: var(--default-red);
}

.blue {
    background-color: var(--main-blue);
}

.blue:hover {
    background-color: var(--main-white);
    color: var(--main-blue);
    box-shadow: 0 0 0 2px var(--main-blue);
}

.red:hover {
    background-color: var(--main-white);
    color: var(--default-red);
    box-shadow: 0 0 0 2px var(--default-red);
}

