.page-title {
    font-size: 3.4rem;
    text-align: center;
    font-weight: 600px;
    line-height: 7.5rem;
    user-select: none;
}

.page-title::after {
    content: "";
    background-color: var(--main-blue);
    height: 3px;
    display: block;
    width: 80%;
    margin: 0 auto;
}