* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans', sans-serif;
	color: var(--text-color);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  background-color: var(--background-white);
}

.page-wrapper {
    background-color: var(--background-white);
    min-height: 100vh;
    padding: 4.2rem;
}

.page-container {
    background-color: var(--main-white);
    box-shadow: 5px 5px 10px var(--shadow-color);
    border-radius: 8px;
    padding: 0 4rem 4rem;
}

.page-container p,
.page-container select {
    margin-top: 1.6rem;
}

.wrapper {
	min-width: 100vw;
	min-height: 100vh;
    background-color: var(--background-white);
    display: flex;
}

p {
  opacity: 0.8;
}

.table {
  margin-top: 2.4rem ;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table::before {
  content: ""; 
  display: block;
  min-height: 3px;
  width: 100%;
  background-image: linear-gradient(90deg, var(--main-blue), var(--main-white) 75%);
}

.table th {
  text-align: left;
  font-weight: 600;
  opacity: 0.8;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.8rem 0;
}

.table td{
  margin-right: 1rem;
}

.table tr {
  display: grid;
  background-color: var(--secondary-blue);
  margin-bottom: 0.6rem;
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
  transition: 0.2s;
  border-radius: 8px;
}

.table tr:first-child {
  background-color: var(--main-white);
}

.two-columns tr {
  grid-template-columns: 4fr 1fr;
}

.three-columns tr {
  grid-template-columns: 3fr 1fr 1fr;
}

.four-columns tr {
  grid-template-columns: 2fr 1fr 1fr 1fr;
}


.alert-container {
  background-color: var(--main-white);
  margin: 8rem auto; 
  max-width: 45%;
  max-height: 600px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px var(--shadow-color);
  padding: 3rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.alert-container h1 {
  font-size: 7.2rem;
  text-align: center;
  font-weight: 600px;
  line-height: 9.5rem;
  user-select: none;
}

.alert-container h1::after {
  content: "";
  background-color: var(--main-blue);
  height: 3px;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.alert-container h1::before {
  content: "id";
  color: var(--main-blue); 
}

.alert-container h2 {
  margin: 1.2rem 0;
}

.alert-container p {
  font-size: 1.4rem;
  text-align: center;
}

.alert-container button {
  margin: 2rem 0;
  padding: 0.8rem 2.4rem;
}

.alert-container img {
  max-width: 180px;
}

.create-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 50%;
  margin: 1.2rem auto;
}

.create-form-button {
  display: flex;
  margin-top: 4rem;
}

.create-form-button button {
  margin: 0 auto;
}


h3 {
  margin-top: 1rem;
  opacity: 0.8;
}

footer {
  background-color: var(--main-white);
  min-height: 30px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 2rem;
}

footer p {
  color: var(--text-color);
  line-height: normal;
}

.create-form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.4rem;
  margin: 0 auto;
}

.create-form-container select,
.create-form-container h3,
.course-name {
  grid-column: span 2;
}

.info-container {
  user-select: none;
}

#courses-select {
  width: 30%;
}



