.login-area {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    min-height: 350px;
    align-items: center;
}

.login-area .form {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 2.6rem;
    justify-content: space-between;
    align-items: center;
}

.login-area button {
    margin-top: 1.8rem;
    align-self: center;
    padding: 0.8rem 2.4rem;
}

.login-area input {
    min-width: 400px;
    margin: 0.3rem 0 0.8rem 0;
}